.button {
  border: none;
  color: white;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}
.primary {
  background-color: rgb(14, 62, 124);
}
.secondary {
  background-color: lightslategray;
  color: black;
}
.success {
  background-color: rgb(16, 90, 16);
}
.danger {
  background-color: rgb(143, 51, 51);
}
